---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- sessionstore
- gateway-tls-cert.yaml
- gateway.yaml
- gatewayclass.yaml # Not needed with Microgateway 4.7+
- gatewayparameters.yaml
- namespace.yaml

helmCharts:
- name: microgateway-cni
  releaseName: airlock-microgateway
  namespace: kube-system
  repo: oci://quay.io/airlockcharts
  version: 4.7.0
  valuesFile: microgateway-cni-values.yaml
- name: microgateway
  releaseName: airlock-microgateway
  namespace: airlock-microgateway-system
  repo: oci://quay.io/airlockcharts
  version: 4.6.3
  valuesFile: microgateway-values.yaml
  includeCRDs: true
