---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: redis

resources:
- namespace.yaml
- redis-certificate.yaml

helmCharts:
- name: redis
  releaseName: redis
  namespace: redis
  repo: oci://registry-1.docker.io/bitnamicharts
  version: 22.0.5
  valuesFile: values.yaml
---


