---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

helmCharts:
  - name: kube-prometheus-stack
    releaseName: kube-prometheus-stack
    namespace: monitoring
    repo: https://prometheus-community.github.io/helm-charts
    version: 76.5.1
    includeCRDs: true
    valuesFile: values.yaml
