---
apiVersion: microgateway.airlock.com/v1alpha1
kind: DenyRules
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  request:
    builtIn:
      settings:
        level: Standard
        threatHandlingMode: Block
      exceptions:
      # Exclude SQL block for passwords
      - blockedData:
          parameter:
            name:
              matcher:
                exact: password

        ruleKeys:
        - SQL
      # Exclude any suffix with value ".gitignore" for IDOR 
      # !!! this is not recommended and just an example!!!
      # It would be better to not sync git files at all and exclude them from uploading.
      - blockedData:
          path:
            matcher:
              suffix: .gitignore
        ruleKeys:
        - IDOR

      # Exclude common media/subtitle file types from SQL and NOSQL rule
      - blockedData:
          path:
            matcher:
              regex: ".*\\.(?i)(mp4|srt|sub|vtt|avi|mkv|mov)$"
        ruleKeys:
        - SQL
        - NOSQL

    custom: {}
