---
apiVersion: microgateway.airlock.com/v1alpha1
kind: HeaderRewrites
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  settings:
    operationalMode: Production
  request:
    allow:
      matchingHeaders:
        builtIn:
          standardHeaders: true
        custom:
        - name: Allow mandatory Request Headers
          headers:
          - name:
              matcher:
                exact: sec-ch-ua
          - name:
              matcher:
                exact: sec-ch-ua-platform
          - name:
              matcher:
                exact: sec-ch-ua-mobile
          - name:
              matcher:
                exact: sec-fetch-site
          - name:
              matcher:
                exact: sec-fetch-mode
          - name:
              matcher:
                exact: sec-fetch-dest
          - name:
              matcher:
                exact: x-nc-caldav-webcal-caching
          - name:
              matcher:
                exact: accept-encoding
          - name:
              matcher:
                exact: priority
          - name:
              matcher:
                exact: depth
          - name:
              matcher:
                exact: destination
          - name:
              matcher:
                exact: oc-chunk-offset
          - name:
              matcher:
                exact: oc-checksum
          - name:
              matcher:
                exact: oc-chunk-size
          - name:
              matcher:
                exact: oc-total-length
          - name:
              matcher:
                exact: x-oc-mtime
          - name:
              matcher:
                exact: ocs-apirequest
        - name: Allow Requesttoken-Token header
          headers:
          - name:
              matcher:
                exact: requesttoken
    remove:
      builtIn:
        alternativeForwardedHeaders: true
    add: {}
